.covid-container{
    margin: 20px 187px -3px;
    padding: 17px 5rem;
    width: 80%;
    list-style: none;
    display: inline-block;
    text-align: center;
    color: gray;

}

.covid {
    padding-left: 16rem;
    list-style: none;
    width: 50%;
    display: inline-block;
    border-radius: 15px;
    text-align: left;
}

.covid-container h4 {
    padding-right: 0px;
    margin-right: -16px;
}