.grid-container{
    display: grid;
    /*background: #61dafb;*/
    grid-template-areas: "img Name LastName"
                        "img description description"
                        "proJ proJ proJ"
                        "form form form";
    grid-template-columns: 300px 1fr 1fr;
    grid-template-rows: 80px 300px 300px 300px;
    margin: 0px 250px;
    grid-gap: 1px 2px;
    color: rgb(96, 52, 255);
}

.img{
    grid-area: img;
}

.description{
    grid-area: description;
}

.ProjectName{
    grid-area: proJ;
}
.form{
    grid-area: form;

}

.grid{
    border-radius: 15px;
    background: #33FFFF;

}

.Name h4{
    padding: 1em;
}

.LastName h4{
    padding: 1em;
}

.description{
    padding: 1em;
}

.description p{
    margin-top: 1rem;
}

.ProjectName h4{
    padding-top: 1em;
    text-align: center;
}

Form {
    width: 43%;
    padding: 11px 9px;
    margin: 57px 25rem;
    display: inline-block;
}

.form-f1 {
    width: 85%;
    padding: 1px 34px;
    margin: 7px -25px;
    display: inline-block;
    box-sizing: border-box;
}

.form-f2 {
    width: 85%;
    padding: 1px 37px;
    margin: 7px -27px;
    display: inline-block;
    box-sizing: border-box;
}

.form-f3 {
    width: 85%;
    padding: 1px 37px;
    margin: 7px -28px;
    display: inline-block;
    box-sizing: border-box;
}


.form-contain1{
    display: block;

}

.form-contain2 {
    display: block;
    margin-left: -77px;
    margin-right: 22px;
    padding-left: 50px;
}

.form-contain3 {
    display: block;
    margin-left: -80px;
    margin-right: 24px;
    padding-left: 50px;
}

.my-project p{
    margin-top: 1rem;
}